
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Layout.cshtml";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

<div class="list">
    <h2>@localizer["Success!"]</h2>
    <ul>
        <li>@localizer["Thank you for purchasing. If you want to continue, please follow this <a href=\"/\"> link</a>."]</li>
    </ul>
</div>

